##|------------------------------------
##| Controls for contentview.vm
##|------------------------------------

## Option to hide the document title display for the page.
#set($hideDocAreaTitle = false)